.contents
  .header__contents
    .header__contents__left
      -# = link_to "#", class: "side--bar__btn" do
      = icon('fas', 'bars')
      = link_to image_tag("header_image.png", alt: 'header_image', class:'header_image'), root_path
    .header__contents__right