.contents{
  width: 100%;
  height: 100vh;
  background-color: #333333;
  .header__contents {
    width: 100%;
    height: 3.75rem;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    &__left {
      margin: auto 0;
      display: flex;
      .side--bar__btn {
        width: 2.5rem;
        text-decoration: none;
        color: #111;
        display: flex;
        align-items: center;
        .header__left__icon {
          width: 100%;
          text-align: center;
        }
      }
      &__title {
        display: flex;
        line-height: 100%;
        align-items: center;
        a {
          text-decoration: none;
          color: #111;
          .title {
            font-size: 1.3rem;
            font-family: cursive
          }
        }
      }
    }
    &__right {
      margin: auto 0;
      .user__edit {
        text-decoration: none;
        color: #111;
        padding-right: 1.0rem;
      }
    }
  }

  .user__profiles {
    width: 100%;
    height: 7.5rem;
    border-bottom: 1px solid aliceblue;
    color: aliceblue;
    font-family: Courier;
    box-sizing: border-box;
    .user__tag {
      font-size: 1.3rem;
      padding: 0.5em 0 0 0.5em;
    }
    .user__tag::after {
      content: "";
      display: block;
      width: 13.5rem;
      height: 0.5px;
      background-color: aliceblue;
      position: absolute;
      left: 0.5em;
    }
    .user__profile {
      height: calc(100% - 1.3rem - 1.0px - (1.3rem - 0.5em));
      &__name {
        box-sizing: border-box;
        height: 35%;
        margin: auto 0;
        font-size: 1.0rem;
        align-items: end;
        padding: 0.5em 0 0 2.0em;
        p {
          height: 100%;
        }
      }
      &__power {
        display: flex;
        height: 65%;
        align-items: center;
        &__box {
          width: calc(100% - 75%);
          display: flex;
          .rule {
            height: calc(100% - 1.0rem);
            border-left: 3px solid aliceblue;
            margin-left: 1.0rem;
            padding-left: 0.7rem;
            font-size: 1.0rem;
          }
          ul {
            display: flex;
            height: calc(100% - 1.0rem);
            font-size: 1.25rem;
            .user__rate {
              padding-left: 0.7em;
            }
            .user__power{
              padding-left: 0.7em;
            }
          }
        }
      }
    }
  }

  .league--stages {
    width: 100%;
    height: 16.5rem;
    border-bottom: 1px solid aliceblue;
    color: aliceblue;
    font-family: Courier;
    box-sizing: border-box;
    &__schedule {
      font-size: 1.3rem;
      padding: 0.5em 0 0 0.5em;
    }
    &__schedule::after {
      content: "";
      display: block;
      width: 17.5rem;
      height: 0.5px;
      background-color: aliceblue;
      position: absolute;
      left: 0.5em;
    }
    .league--match__boxes {
      display: flex;
      height: calc(100% - 1.3rem - 0.5px - (1.3rem - 0.5em));
      width: 100%;
      overflow-y: scroll;
      .league--match__box {
        height: 100%;
        padding: 0.8rem 0;
        width: 100%;
        box-sizing: border-box;
        .stage__detail {
          display: flex;
          align-items: center;
          margin: 0 0 0.8rem 2.3rem;
          padding-bottom: 0.1rem;
          border-bottom: 1px solid aliceblue;
          width: 14rem;
          .stage__rule {
            font-size: 0.8rem;
            margin-left: 1.0rem;
          }
        }
        .stages {
          display: flex;
          width: 100%;
          height: calc(100% - 1.0rem - 0.8rem - 0.1rem - 1px);
          justify-content: space-around;
          .stage__list {
            padding: 0.5rem 1.5rem 0.3rem;
            border: 1px solid aliceblue;
            border-radius: 5px;
            .stage__image {
              .image {
                width: auto;
                // height: calc(100% - 1.0rem - 0.8rem - 0.1rem - 1px);
                height: 8rem;
              }
            }
            .stage__name {
              text-align: center;
              margin-top: 0.3rem;
              font-size: 0.8rem;
            }
          }
          .list2 {
            margin-left: 1.0rem;
          }
        }
      }
      .box2 {
        margin-left: 1.0rem;
      }
    }
  }

  .main {
    width: 100%;
    height: calc(100vh - 3.75rem - 7.5rem - 16.5rem);
    color: aliceblue;
    font-family: Courier;
    box-sizing: border-box;
    &__chat__tag {
      font-size: 1.3rem;
      padding: 0.5em 0 0 0.5em;
    }
    &__chat__tag::after {
      content: "";
      display: block;
      width: 9.0rem;
      height: 0.5px;
      background-color: aliceblue;
      position: absolute;
      left: 0.5em;
    }
    &__chat {
      height: calc(100vh - 27.75rem - 1.3rem - 1.0px - (1.3rem - 0.5em));
      width: 100%;
      box-sizing: border-box;
      padding: 1.0rem;
      &__box {
        border: 1px solid aliceblue;
        border-radius: 7px;
        height: 100%;
        width: 100%;
        padding: 0.7rem 1.0rem;
        box-sizing: border-box;
        &__space {
          background-color: white;
          color: black;
          height: 85%;
          width: 100%;
          border-radius: 5px;
          padding: 0.5rem;
          box-sizing: border-box;
          overflow-x: scroll;
          .messages {
            margin-top: 0.3rem;
            .message__upper__info {
              display: flex;
              font-family: 'Georgia', monospace;
              .name {
                font-size: 0.8rem;
                font-weight: bold;
                margin-left: 0.5rem;
                height: 100%;
              }
              .date {
                font-family: Courier;
                font-size: 0.7rem;
                color: gray;
                margin-left: 0.5rem;
                align-items: center;
              }
            }
            .message {
              font-size: 0.8rem;
              font-family: monospace;
              margin-top: 0.3rem;
            }
          }
        }
        &__input {
          height: 15%;
          width: 100%;
          padding-top: 0.5rem;
          box-sizing: border-box;
          .input__box {
            display: flex;
            height: 100%;
            .message__box {
              width: 100%;
              .message {
                border-style: none;
                height: 100%;
                width: 100%;
                padding-left: 0.7rem;
                box-sizing: border-box;
                font-family: monospace;
                font-size: 1.2rem;
                border-radius: 3px;
              }
            }
            .submit--btn {
              width: 5.0rem;
              height: 100%;
              margin-left: 0.5rem;
              background-color: gray;
              color: aliceblue;
              cursor: pointer;
              border-radius: 3px;
            }
          }
        }
      }
    }
  }
}